


.services_grid_container {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));

    @include desktop_query {
        // !!TODO a better solution can be used here
        // grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
    }
}



.open_times_grid_container {
    display: grid;
    gap: .8rem 1rem;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    // grid-template-columns: repeat(auto-fit, minmax(520px, 1fr));

    @include desktop_query {
        // !!TODO a better solution can be used here
        // grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
    }
}

.open_times__grid_card {
    padding: 1rem .5rem;
    border: 2px solid lightgray;
}

.shaking_icon {
    animation: shaker_kf 2s cubic-bezier(0.165, 0.84, 0.44, 1) 1s infinite;
}

