@import '../../styles/commons';



.cart_item_card {
    max-width: 400px;
    padding: .5rem;
    border-radius: $BORDER_RADIUS_SM;
    // border: .01px solid $PRIMARY_COLOR;
    // border-bottom-color: $SECONDARY_COLOR;
    // border-right-color: $SECONDARY_COLOR;

    overflow: hidden;
}
